{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <form class="form-horizontal" id="person-form" action="{% url 'hello:form' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="col-md-6">
            <div class="form-group">
                <label for="id_name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8">
                  
                  <input class="form-control" id="id_name" maxlength="250" name="name" type="text" value="Aleks" />
                </div>
            </div>
            <div class="form-group">
               <label for="id_surname" class="col-sm-2 control-label">Surname</label>
                <div class="col-sm-8">
                   
                  <input class="form-control" id="id_surname" maxlength="250" name="surname" type="text" value="Woronow" />
                </div>
            </div>
            <div class="form-group">
                <label for="id_date_of_birth" class="col-sm-2 control-label">Date of birth</label>
                <div class="col-sm-8">
                  
                  <input class="form-control datepicker" id="id_date_of_birth" name="date_of_birth" size="10" type="text" value="2016-02-25" />
                </div>
            </div>
            <div class="form-group">
                <label for="id_photo" class="col-sm-2 control-label">Photo</label>
                <div class="col-sm-8">
                   <input id="id_image" name="image" type="file" />
              <div id="error_photo" class="has-error"></div>
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                   <img  id="personImage" class="img-thumbnail" 
                        src=""
                        alt="Towel test photo">
                </div>
            </div>
       </div>         
       <div class="col-md-5">
            <div class="form-group">
                <label for="id_email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  
                  <input class="form-control" id="id_email" maxlength="75" name="email" type="email" value="aleks.woronow@yandex.ru" />
                </div>
            </div>
            <div class="form-group">
                <label for="id_jabber" class="col-sm-2 control-label">Jabber</label>
                <div class="col-sm-10">
                  <input class="form-control" id="id_jabber" maxlength="75" name="jabber" type="email" value="aleksw@42cc.co" />
                </div>
            </div>
            <div class="form-group">
                <label for="id_skype_id" class="col-sm-2 control-label">Skype id</label>
                <div class="col-sm-10">
                  
                 <input class="form-control" id="id_skype_id" maxlength="250" name="skype_id" type="text" value="aleks_woronow" />
                </div>
            </div>
            <div class="form-group">
                <label for="id_other" class="col-sm-2 control-label">Other contacts</label>
                <div class="col-sm-10">
                    
                  <textarea class="form-control" cols="40" id="id_other" name="other" rows="10">
</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="id_bio" class="col-sm-2 control-label">Bio</label>
                <div class="col-sm-10">
                 
                 <textarea class="form-control" cols="40" id="id_bio" name="bio" rows="10">
I was born ...</textarea>
                </div>
            </div>
        </div>
</div>
<div class="row">
     <button class="btn btn btn-primary" type="submit">Save</button>
     <button class="btn btn btn-primary" id='cancel' type="reset">Cancel</button>
</div>    
</form>

<hr style="width: 100%; color: black; height: 2px; background-color:black;" />
 <div class="row">
      <div class="col-md-6">
        <a href="{% url 'hello:requests' %}">requests</a>
     </div>
 </div>
 </div>     
 </div>

{% endblock content %}