{% extends "base.html" %}
{% load staticfiles %}

{% block title %}(1){% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="{% url 'hello:home' %}">Home</a></li>
           <li class="active">Request</li>
        </ol>
    </div>
</div>
<div class="row">
     <div class="col-md-6">
        <table id="request" class="table table-bordered">
            <caption>Requests</caption>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/</td>
                    <td>GET</td>
                    <td>2016-03-22T18:51:37.114Z</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>   
{% endblock content %}