{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-2">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="{% url 'hello:home' %}">Home</a></li>
           <li class="active">Request</li>
        </ol>
    </div>
</div>
<div class="row">
     <div class="col-md-12">
        <table id="request" class="table table-bordered">
            <caption>Requests</caption>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method</th>
                    <th>Date</th>
                    <th>Priority</th>
                    <th>Increase Priority</th>
                    <th>Decrease Priority</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>   
{% endblock content %}

{% block script %}
<script src="{% static 'js/load_request_sort.js' %}"></script>
<script src="{% static 'js/set_priority3.js' %}"></script>
{% endblock script %}
